<div class="page-header">
  <h1>Room Name: {{ vm.roomName }}</h1>
</div>

<div class="form-group">
  <label>YouTube Video URL:</label>
  <input
    type="text"
    ng-model="vm.inputUrl"
    class="form-control input-lg"
    placeholder="https://www.youtube.com/watch?v=IO3fAvuaN4s"
  >
</div>

<button
  type="button"
  class="btn btn-default btn-lg btn-block"
  ng-click="vm.setVideo(vm.inputUrl)"
>
  Upload Video
</button>

<hr />

<div ng-if="vm.currentUrl" class="mar-btm">
  <p>
    <button
      class="btn btn-default"
      ng-click="vm.playVideo()"
    >
      Play Video <span class="glyphicon glyphicon-play"></span>
    </button>

    <button
      class="btn btn-default"
      ng-click="vm.pauseVideo()"
    >
      Pause Video <span class="glyphicon glyphicon-pause"></span>
    </button>

    <label class="mar-lft">Skip To:</label>
    <input
      ng-if="vm.hourLong"
      type="text"
      class="form-control skip-to"
      ng-model="vm.skipTo.hour"
      placeholder="hour"
    >
    <input
      type="text"
      class="form-control skip-to"
      ng-model="vm.skipTo.minute"
      placeholder="minute"
    >
    <input
      type="text"
      class="form-control skip-to"
      ng-model="vm.skipTo.second"
      placeholder="second"
    >
    <button class="btn btn-default" ng-click="vm.skipTo.go()">Go</button>
  </p>
  <small>
    Note: Using these buttons will reduce the lag between you and the other watchers. Using the buttons on the player will introduce some lag.
  </small>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <youtube-video
    class="embed-responsive-item"
    video-url="vm.currentUrl"
    player="player"
  ></youtube-video>
</div>
