.mar-lft {
  margin-left: 10px;
}

.mar-btm {
  margin-bottom: 10px;
}

.skip-to {
  width: 75px;
  display: inline-block;
}

.font-lg {
  font-size: 22px;
}

#room-name-input {
  display: inline-block;
  width: 300px;
}

.thumbnail {
  margin-top: 50px;
  width: 100%;
}

.gray {
  color: gray;
}
